<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Add Contacts</ion-title>
    <ion-buttons slot="primary">
      <ion-buttons (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-input  [(ngModel)]="xxxxxx"   ></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content color="sucess">
  <ion-list>
    <ion-item color="warning">
      <ion-label positions="floating">name</ion-label>
     
    </ion-item>
  </ion-list>
  <ion-button color="primary" (click)="onFav()">Add Contacts</ion-button>
</ion-content>

