<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar style="width: 300px; height: 300px; align-items: center; margin: auto;">
          <ion-img [src]="image"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Samuel Putra</h1>
        <h1>000000 25672 - AL</h1>
        <h2>Saya mengerjakan sendiri dengan bantuan modul dan tugas mingguan yang saya kerjakan. 
          Selain itu saya juga menggunakan bantuan website ionic, dan berbagai macam forum(ionic forum, github forum, dll).</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
