<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Tambah Produk</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding" color="success">
  
  
  <form  [formGroup]="form" color="success">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-textarea  rows="3" type="text" formControlName="imageUrl"></ion-textarea >
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select interface="popover" (ionChange)="onFilterUpdate($event)" value="gpu">
          <ion-select-option value="gpu">GPU</ion-select-option>
          <ion-select-option value="cpu">CPU</ion-select-option>
          <ion-select-option value="ram">RAM</ion-select-option>
          <ion-select-option value="motherboard">MotherBoard</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Merek</ion-label>
        <ion-input type="text" formControlName="merek"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input type="text" formControlName="model"></ion-input>
      </ion-item>
      
      <div [ngSwitch]="whatType">
        <div *ngSwitchCase="'cpu'">
          <ion-item>
            <ion-label position="floating">Base Clock</ion-label>
            <ion-input type="text" formControlName="baseClock" placeholder="___Ghz"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Boost Clock</ion-label>
            <ion-input type="text" formControlName="boostClock" placeholder="___Ghz"></ion-input> 
          </ion-item>
          <ion-item>
              <ion-label >Cores</ion-label>
              <ion-input type="number" formControlName="cores"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Threads</ion-label>
              <ion-input type="number" formControlName="threads"></ion-input>
            </ion-item>
        </div>
        <div *ngSwitchCase="'ram'">
          <ion-item>
            <ion-label position="floating">Speed</ion-label>
            <ion-input type="text" formControlName="speed" placeholder="___Mhz"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Size</ion-label>
            <ion-input type="text" formControlName="size" placeholder="___GB"></ion-input>
          </ion-item>
        </div>
        <div *ngSwitchCase="'motherboard'">
          <ion-item>
            <ion-label position="floating">Chipset</ion-label>
            <ion-input type="text" formControlName="chipset"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Processor Socket Type</ion-label>
            <ion-input type="text" formControlName="socket"></ion-input>
          </ion-item>
        </div>
        <div *ngSwitchCase="'gpu'">
          
        </div>
        
      </div>
      <ion-item>
        <ion-label position="floating">Harga</ion-label>
        <ion-input type="number" formControlName="harga"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stok</ion-label>
        <ion-input type="number" formControlName="stock"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Deskripsi</ion-label>
        <ion-textarea type="string"  rows="5" formControlName="deskripsi"></ion-textarea>
      </ion-item>
      
    </ion-list>
    <ion-button (click)="onSubmit()">Submit</ion-button>
  </form>
</ion-content>
